@media (max-width: 1199px) {
    .header-banner{
        display: block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .header-content{
        margin-left: 0;
        margin: 0 auto;
    }
}
@media(max-width: 769px){
    .header-area{
        padding: 50px 50px 0 50px;
    }
    .header-content{
        width: 100%;
    }
    .header-content h2{
        font-size: 40px;
    }
    .subscribe-input input{
        display: block;
        width: 100%;
        
    }
    .subscribe-input{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .subscribe-input button{
        margin: 30px 30px 0 30px;
        
    }
}